{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "bootstrap/4.3.1/css/bootstrap.min.css" %}">

    <title>DER Login</title>

</head>

<body>
    
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <form action="{% url 'login' %}" method="post" class="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">Submit</button>
                            {% endbuttons %}
                            <input type="hidden" name="next" value="{{ next }}">
                        </form>
            </div>
        </div>
    </div>


    <script src="{% static "jQuery/3.4.1/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/4.3.1/js/bootstrap.min.js" %}"></script>
</body>

</html>