{% extends "base/main.html" %}
{% load static %}
{% load bootstrap4 %}


{% block styles %}
<style>
    #charts{
        width : 100%;
    }

    .dot{
        color:blue;
    }
</style>
{% endblock styles %}

{% block content %}

<h1 class="h2">Tablero de control DER</h1>


<div class="row">
    <div id="charts"></div>
</div>

{% endblock %}

{% block after_scripts %}
    {{form.media}}
    <script src="{% static 'd3/d3.min.js' %}"></script>
    <script>

        var allowed_fields = {
            'generated-active-power' : 'Potencia activa generada (kW)',
            'generated-reactive-power': 'Potencia reactiva generada (kVAR)',
            'solar-irradiation': 'Irradiación Solar (W/m2)',
            'temperature' : "Temperatura (°C)"
        }
        
        function plot_data(data){
            var width  = 800,
                height = 600,
                margin = {top: 40, left: 60, bottom: 40, right: 40};

            var columns = data['columns'].filter((x) => x[0] != "timestamp").reduce(
                function(latestVal, currentVal, idx, v){
                    if(currentVal[0] in latestVal){
                        latestVal[currentVal[0]].push(currentVal[1]);
                    }else{
                        latestVal[currentVal[0]] = [currentVal[1]];
                    }
                    return latestVal;
                }, {}
            );
            
            var variables = data['columns'].filter((x) => x[0] != "timestamp");

            var charts = d3.select("#charts")
                .selectAll("div")
                .data(Object.keys(columns));
            
            
            charts.exit().remove();
            
            var svg = charts
                .enter()
                .append("div")
                .attr("width", width)
                .attr("height", height)
                .attr("id", (d) => "chart-" + d)
                .append("svg")
                .attr("width", width)
                .attr("height", height);
            
           
            
            var ts = data.data.map((x, j) => x[0]);

            svg.each(function(d, i){
                var aggregation_type = columns[d];
                var primary_aggregation_suffix = 'sum';

                if(aggregation_type.indexOf('sum') >= 0){
                    primary_aggregation_suffix = 'sum';
                }else if(aggregation_type.indexOf('mean') >= 0){
                    primary_aggregation_suffix = 'mean';
                }else{
                    return
                }

                var data_idx = data.columns.findIndex(x => x[0] == d && x[1] == primary_aggregation_suffix, 1);
                
                
                var has_secondary = aggregation_type.indexOf('std') >= 0;
                if(has_secondary){
                    var secondary_data_idx = data.columns.findIndex(x => x[0] == d && x[1] == "std", 1);
                    var subdata = data.data
                        .map((x, j) => {return {'dt' : (new Date(0)).setUTCSeconds(x[0]), 'ts': x[0], 'd': x[data_idx], 'sd' : x[secondary_data_idx]}})
                        .sort(x => x.ts);
                }else{
                    var subdata = data.data
                        .map((x, j) => {return {'dt' : (new Date(0)).setUTCSeconds(x[0]), 'ts': x[0], 'd': x[data_idx]}})
                        .sort(x => x.ts);
                }

                var xScale = d3.scaleLinear()
                    .domain([
                        Math.min(...subdata.map(x=>x.ts)),
                        Math.max(...subdata.map(x=>x.ts))
                        ])
                    .range([0, width - margin.left - margin.right]);
                
                var xScaleTime = d3.scaleTime()
                    .domain([
                        Math.min(...subdata.map(x=>x.dt)),
                        Math.max(...subdata.map(x=>x.dt))
                        ])
                    .range([0, width - margin.left - margin.right]);
                
                if(has_secondary){
                    var yScale = d3.scaleLinear()
                        .domain([
                            Math.min(...subdata.map(x=>x.d - x.sd)),
                            Math.max(...subdata.map(x=>x.d + x.sd))
                            ])
                        .range([height- margin.top - margin.bottom, 0]);
                }else{
                    var yScale = d3.scaleLinear()
                        .domain([
                            Math.min(...subdata.map(x=>x.d)),
                            Math.max(...subdata.map(x=>x.d))
                            ])
                        .range([height- margin.top - margin.bottom, 0]);
                }
                
                var svg = d3
                    .select(this)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
                
                svg.append("text")
                    .attr("x", (width / 2))             
                    .attr("y", 0 - (margin.top / 2))
                    .attr("text-anchor", "middle")  
                    .style("font-size", "20px") 
                    .text(allowed_fields[d]);
                
                svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + yScale.range()[0] + ")")
                    .call(d3.axisBottom(xScaleTime));

                svg.append("g")
                    .attr("class", "y axis")
                    .call(d3.axisLeft(yScale));

                var line = d3.line()
                            .x(function(x){return xScale(x.ts);})
                            .y(function(x){return yScale(x.d);});
                
                svg.append("path")
                    .datum(subdata)
                    .attr("fill", "none")
                    .attr("stroke", "steelblue")
                    .attr("stroke-linejoin", "round")
                    .attr("stroke-linecap", "round")
                    .attr("stroke-width", 1.5)
                    .attr("d", line);
                
                var circles = svg
                    .selectAll("circle")
                    .data(subdata);

                //circles.exit().remove();
                console.log("has sec", has_secondary)
                if(has_secondary){
                    circles.enter()
                        .append("circle")
                        .attr("stroke", "steelblue")
                        .attr("fill", "steelblue")
                        .attr("cx", d => xScale(d.ts))
                        .attr("cy", d => yScale(d.d))
                        .attr("r", 2)
                    
                    circles.enter()
                        .append('line')
                        .attr("x1", d => xScale(d.ts))
                        .attr("x2", d => xScale(d.ts))
                        .attr("y1", d => yScale(d.d-d.sd))
                        .attr("y2", d => yScale(d.d+d.sd))
                        .attr("stroke", "steelblue")
                        .attr("fill", "steelblue")
                        .style("stroke-dasharray", ("3, 3"))
                    
                    circles.enter()
                        .append('line')
                        .attr("x1", d => xScale(d.ts) - 5)
                        .attr("x2", d => xScale(d.ts) + 5)
                        .attr("y1", d => yScale(d.d+d.sd))
                        .attr("y2", d => yScale(d.d+d.sd))
                        .attr("stroke", "steelblue")
                        .attr("fill", "steelblue")
                    
                    circles.enter()
                        .append('line')
                        .attr("x1", d => xScale(d.ts) - 5)
                        .attr("x2", d => xScale(d.ts) + 5)
                        .attr("y1", d => yScale(d.d-d.sd))
                        .attr("y2", d => yScale(d.d-d.sd))
                        .attr("stroke", "steelblue")
                        .attr("fill", "steelblue")
                    
                }else{
                    circles.enter()
                        .append("circle")
                        .attr("stroke", "steelblue")
                        .attr("fill", "steelblue")
                        .attr("cx", d => xScale(d.ts))
                        .attr("cy", d => yScale(d.d))
                        .attr("r", 2);
                }
                
            });
            console.log("p")
            // setTimeout(function(){
            //     d3.json("{% url 'aggregated-der-report' %}")
            //         .then(plot_data);
            // }, 1000);
        }
        d3.json("{% url 'aggregated-der-report' %}")
            .then(plot_data);
    </script>
{% endblock %}