{% extends "base/main.html" %}
{% load static %}
{% load bootstrap4 %}


{% block styles %}
<style>
    #charts{
        width : 100%;
    }

    .dot{
        color:blue;
    }
</style>
{% endblock styles %}

{% block content %}

<h1 class="h2">Detalle recurso de generación</h1>
<div class="row">
        <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr><td scope="col">Tipo</td><td scope="col">{{object.get_der_type_display}}</td></tr>
                            <tr><td scope="col">Departamento</td><td scope="col">{{object.departament}}</td></tr>
                            <tr><td scope="col">Municipio</td><td scope="col">{{object.city}}</td></tr>
                            <tr><td scope="col">Barrio</td><td scope="col">{{object.neighborhood}}</td></tr>
                            <tr><td scope="col">Capacidad</td><td scope="col">{{object.rated_capacity}}</td></tr>
                            <tr><td scope="col">Tipo de uso</td><td scope="col">{{object.get_use_type_display}}</td></tr>
                    </tbody>
                </table>
            </div>
        
</div>

<div class="row">
    <div id="charts"></div>
</div>

{% endblock %}

{% block after_scripts %}
    {{form.media}}
    <script src="{% static 'd3/d3.min.js' %}"></script>
    <script>

        var allowed_fields = {
            'active-power-sp' : 'Setpoint de potencia activa (kW)',
            'generated-active-power' : 'Potencia activa generada (kW)',
            'generated-reactive-power': 'Potencia reactiva generada (kVAR)',
            'solar-irradiation': 'Irradiación Solar (W/m2)',
            'temperature' : "Temperatura (°C)"
        }
        
        function plot_data(data){
            var width  = 800,
                height = 600,
                margin = {top: 40, left: 60, bottom: 40, right: 40};

            var variables = data['columns'].filter((x) => x != "timestamp");

            var charts = d3.select("#charts")
                .selectAll("div")
                .data(data.columns.filter((x) => x != "timestamp"));
            
            var svg = charts
                .enter()
                .append("div")
                .attr("width", width)
                .attr("height", height)
                .attr("id", (d) => "chart-" + d)
                .append("svg")
                .attr("width", width)
                .attr("height", height);
            
           
            charts.exit().remove();
            
            var ts = data.data.map((x, j) => x[0])

            svg.each(function(d, i){
                var subdata = data.data
                    .map((x, j) => {return {'dt' : (new Date(0)).setUTCSeconds(x[0]), 'ts': x[0], 'd': x[i + 1]}})
                    .sort(x => x.ts);
                console.log(subdata);
                var xScale = d3.scaleLinear()
                    .domain([
                        Math.min(...subdata.map(x=>x.ts)),
                        Math.max(...subdata.map(x=>x.ts))
                        ])
                    .range([0, width - margin.left - margin.right]);
                
                var xScaleTime = d3.scaleTime()
                    .domain([
                        Math.min(...subdata.map(x=>x.dt)),
                        Math.max(...subdata.map(x=>x.dt))
                        ])
                    .range([0, width - margin.left - margin.right]);
                
                var yScale = d3.scaleLinear()
                    .domain([
                        Math.min(...subdata.map(x=>x.d)),
                        Math.max(...subdata.map(x=>x.d))
                        ])
                    .range([height- margin.top - margin.bottom, 0]);
                
                var svg = d3
                    .select(this)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
                svg.append("text")
                    .attr("x", (width / 2))             
                    .attr("y", 0 - (margin.top / 2))
                    .attr("text-anchor", "middle")  
                    .style("font-size", "20px") 
                    .text(allowed_fields[data.columns[i + 1]]);
                    
                svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + yScale.range()[0] + ")")
                    .call(d3.axisBottom(xScaleTime));

                svg.append("g")
                    .attr("class", "y axis")
                    .call(d3.axisLeft(yScale));

                var line = d3.line()
                            .x(function(x){return xScale(x.ts);})
                            .y(function(x){return yScale(x.d);});
                
                svg.append("path")
                    .datum(subdata)
                    .attr("fill", "none")
                    .attr("stroke", "steelblue")
                    .attr("stroke-linejoin", "round")
                    .attr("stroke-linecap", "round")
                    .attr("stroke-width", 1.5)
                    .attr("d", line);
                
                var circles = svg
                    .selectAll("circle")
                    .data(subdata);

                //circles.exit().remove();
                
                circles.enter()
                    .append("circle")
                    .attr("stroke", "steelblue")
                    .attr("fill", "steelblue")
                    .attr("cx", d => xScale(d.ts))
                    .attr("cy", d => yScale(d.d))
                    .attr("r", 2);
                
                
                

            });
            console.log("p")
            // setTimeout(function(){
            //     d3.json("{% url 'daily-der-report' slug=object.slug %}")
            //         .then(plot_data);
            // }, 1000);
        }
        d3.json("{% url 'daily-der-report' slug=object.slug %}")
            .then(plot_data);
    </script>
{% endblock %}