{% extends "base/main.html" %}

{% block content %}

<div class="row">
    <h1 class="h2">Recursos de generación</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Municipio</th>
                    <th scope="col">Barrio</th>
                    <th scope="col">Capacidad</th>
                    <th scope="col">Tipo de uso</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for der in object_list %}
                <tr>
                    <td scope="col">{{der.get_der_type_display}}</td>
                    <td scope="col">{{der.departament}}</td>
                    <td scope="col">{{der.city}}</td>
                    <td scope="col">{{der.neighborhood}}</td>
                    <td scope="col">{{der.rated_capacity}}</td>
                    <td scope="col">{{der.get_use_type_display}}</td>
                    <td scope="col"><a href="{% url  'dtl-der' slug=der.slug %}">Detalles</a></td>
                    <td scope="col"><a href="{% url  'edt-der' slug=der.slug %}">Editar</a></td>
                    <td scope="col"><a href="#" data-toggle="modal" data-target="#deleteModal"
                            data-url="{% url  'del-der' slug=der.slug %}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url "reg-der" %}">Registro de recurso</a>
</div>


<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar objeto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de eliminar el objeto seleccionado?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block after_scripts %}
<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var url = button.data('url') // Extract info from data-* attributes
        $(this).attr("url", url);
    });

    $('#deleteModal .btn.btn-primary').click(
        function(e){
            var url = $('#deleteModal').attr("url");
           // $.post(url);
            $('#deleteModal').modal("hide");
            console.log("no implementado");
        }
    )
</script>
{% endblock %}