{% extends "base/main.html" %}

{% load bootstrap4 %}
{% block content %}

<h1 class="h2">Editar recurso de generación</h1>
<div class="row justify-content-md-center">
    <div class="col-5">
            <form  method="post" >
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                    {% endbuttons %}
                </form>
    </div>
        
</div>
{% endblock %}

{% block after_scripts %}
{{form.media}}
{% endblock %}